body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  /*  background-color: green;*/
}
    
/* The Modal (background) */
.modal {
    display: block; /**/
    visibility: hidden;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
  /*   padding-top: 100px; */ /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;/* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }



  .center {
  background: blueviolet;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Modal Content */
.modal__background {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 100%;

 transition-duration: 0.8s;
  transition-property: transform;
}

.anim__show{
  transform: rotate(360deg);
}

/*
.modal__background:hover{
  transform: rotate(360deg);
}*/

.anim__hide{
  transition: opacity 1s ;
  opacity: 0%;
}

.modal__content{
  /* transition: opacity 1s ;*/
  /*  opacity: 0%;*/
   /* border: 1px solid black;*/
    padding:20px;
}

/*
.modal__content:default{
  opacity: 100%;
}

*/


/*
* Ha kisebb mint 560 pixel akkor hasznélja 
*/

@media screen and (min-width: 560px){

    .modal__background{
        width: 50%;
        padding: 50px;
        border: 1px solid #F00;
    }
}

/* The Close Button */
.span__close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.span__close:hover,
.span__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer__container{
    display: flex;
    justify-content: flex-end;
  /*  border: 1px solid red;*/
}


footer button{
    margin-left:10px;
}

.button__ok{
    background-color: #0F0;
   /* outline: none; */
    border: none;
    color:#FFF;
}
.button__cancel{
    background-color: #F00;
 /*   outline: none; */
    border: none;
    color:white;
}
